:root {
  --color-button: #f46752;
  --color-button-hover: #f18d7d;
  --color-text-button-hover: #fff;
  --color-text: #1d253c;
  --color-description: #5a6482;
  --color-text-in-dart: #fff;
  --color-text-descr-in-dark: #acb4bf;
  --color-text-descr: #5a6482;
  --color-link: #126f86;
  --background-white: #fff;
  --background-main: #f8f8f8;
  --background-dark-block: #363839;
  --background-grey-block: #f9f5f2;
  --background-blud-block: #e5f3fe;
}
