.banner {
  &__container {
    position: relative;
    padding-top: 223px;
    padding-left: 106px;
    padding-bottom: 196px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
  &__descr {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    max-width: 411px;
    color: var(--color-description);
    margin-bottom: 40px;
  }
  &__title {
    margin: 0;
    font-size: 64px;
    line-height: 67px;
    max-width: 451px;
    text-transform: capitalize;
    margin-bottom: 26px;
  }
  &__img {
    position: absolute;
    top: -21px;
    right: 4px;
    width: 984px;
    height: 100%;
    background: url('../images/hero_1.png') center/contain no-repeat;
    transform: translateX(3px);
    @media screen and (max-width: 1440px) {
      width: 68.3vw;
    }
  }
}
