.navigation {
  &__container {
    padding: 75px 0 36px 170px;
    display: flex;
    @media screen and (max-width: 1300px) {
      padding: 75px 0 36px 0;
      flex-direction: column;
      align-items: center;
    }
  }
  &-from {
    flex: 1 0 0;
    @media screen and (max-width: 1300px) {
      margin-bottom: 70px;
    }
    &__logo {
      margin-bottom: 33px;
    }
    &__descr {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 23px;
    }
  }
  &-social {
    &__list {
      padding-left: 0;
      display: flex;
      list-style: none;
    }
    &__item {
      margin-right: 34px;
    }
  }
  &-search {
    height: 59px;
    display: flex;
    margin-bottom: 28px;
    &__input {
      border: 1px solid #cccccc;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      height: 100%;
      width: 217px;
    }
    &__link {
      height: 100%;
      display: block;
      background-color: #126f85;
      color: white;
      width: 83px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font-size: 14px;
      line-height: 23px;
      &::after {
        content: '';
        background-image: url('../images/arrow.svg');
        width: 21px;
        height: 8px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &__collumns {
    flex: 1.25 0 0;
  }
  &__collumns {
    display: grid;
    grid-template-columns: 33.3% 19.6% 1fr;
    grid-gap: 50px;
    transform: translateY(-2px);
  }
  &-collumn {
    font-family: 'Roboto', sans-serif;
    &__list {
      list-style: none;
      padding-left: 0;
    }
    &__title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 22px;
      font-family: 'Roboto', sans-serif;
    }
    &__item {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      font-family: 'Roboto', sans-serif;
    }
  }
}
