.safe {
  background-color: var(--background-main);
  &__container {
    position: relative;
    text-align: center;
    padding: 92px 182px 83px 170px;
    &::before {
      position: absolute;
      content: url('../images/umbrella.png');
      left: 49.9%;
      top: -109px;
      transform: translateX(-51%);
    }
    &::after {
      position: absolute;
      content: url('../images/dogsafe.png');
      right: 6px;
      bottom: -35px;
      z-index: 1;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 43px;
    line-height: 52px;
    margin-bottom: 38px;
  }
  &__descr {
    font-size: 19px;
    line-height: 30px;
    max-width: 1077px;
    margin: 0 auto;
  }
  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-gap: 70px;
    padding-left: 0;
    margin: 0;
    margin-top: 42px;
  }
  &-block {
    min-height: 310px;
    padding: 153px 34px 20px 29px;
    background-color: var(--background-white);
    position: relative;
    &__title {
      font-size: 24px;
      line-height: 26px;
      margin-top: 0;
      color: var(--color-text);
      margin-bottom: 5px;
    }
    &__img {
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      /*display: none;*/
    }
    &__descr {
      font-size: 12px;
      line-height: 26px;
      color: var(--color-text-descr);
      &--grey {
        color: var(--color-text);
        text-decoration-line: underline;
      }
    }
  }
}
