.secure {
  background-color: var(--background-grey-block);
  // min-height: 300px;
  &__container {
    display: flex;
    padding: 85px 170px 84px;
  }
  &__content {
    padding-top: 82.6px;
  }
  &__title {
    max-width: 470px;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
  }
  &__descr {
    max-width: 470px;
    font-size: 19px;
    line-height: 30px;
    color: var(--color-text-descr);
  }
  &__img {
    padding-right: 144px;
  }
  &-img {
    &__descr {
      padding-top: 20px;
    }
    &__star {
      color: var(--color-button);
    }
  }
}
